@import url("fontello/css/fontello.css");

body{
    margin: 0;
    padding: 0;
    background-color: #222;
    color: white;
    user-select: none;}
header{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background-color: #111;}
main{
    height: calc(100vh - 50px);
    display: flex;}
    main > div{
        height: 100%;}
    nav{
        width: 50px;
        display: flex;
        flex-direction: column;
        }
        nav > div{
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            font-size: 25px;}
        nav > div:hover{
            cursor: pointer;
            background-color: #444;}
        .selectedMainTab{
            background-color: #333;
            position: relative;}
        .selectedMainTab::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-color: white;
        }
    #leftBar{
        width: 200px;
        background-color: #333;}
        #files{
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            margin: 5px;
            white-space: nowrap;
            overflow-x: hidden;
            overflow-y: auto;}
            #files div{
                padding-left: calc(var(--depth) * 3);}
            #files i{
                font-size: 14px;
                margin-right: 3px;
                display: inline-block;
                border-radius: 50%;}
            .clickableI:hover{
                cursor: pointer;
                color: #aaa;
                background-color: #111;}
    #center{
        position: relative;
        height: calc(100vh - 50px);
        width: calc(100vw - 250px);}
        #center > img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 200px;
            height: 200px;
            max-width: 100%;
            max-height: 100%;}
        #tabs{
            height: 34px;
            line-height: 34px;
            border-bottom: 1px solid #333;
            overflow-x: auto;
            white-space: nowrap;}
            .tab{
                display: inline-block;
                vertical-align: top;
                padding: 0 5px;
                background-color: #333;}
            .tab:hover{
                cursor: pointer;
                background-color: #444;}
            .selectedTab{
                background-color: #555;}
                .tab .icon-cancel{
                    display: inline-block;
                    transform: scale(0.7);}
        #openedTab{
            height: calc(100% - 35px);
            overflow: auto;}
            .openedTabContent{
                width: 100%;
                height: 100%;}
                #codeEditor{
                    width: 100%;
                    height: 100%;}
                [contenteditable] {
                    outline: 0px solid transparent;}
                .kw1{
                    color: blue;}