@import url("fontello/css/fontello.css");

body{
    margin: 0;
    padding: 0;
    background-color: #222;
    color: white;
    user-select: none;}
nav{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background-color: #111;}
main{
    height: calc(100vh - 50px);
    display: flex;}
    main > div{
        height: 100%;}
    #left{
        width: 50px;
        display: flex;
        flex-direction: column;
        }
        #left > div{
            width: 40px;
            height: 40px;
            margin: 5px;
            text-align: center;
            line-height: 40px;
            font-size: 25px;}
    #leftBar{
        width: 200px;
        background-color: #333;}
        #files{
            width: calc(100% - 10px);
            margin: 5px;}
            #files ul{
                list-style-type: none;
                padding: 0;
                margin: 0;}
                #files li{
                    transition: .25s;
                    max-height: 100vh;
                    line-height: 20px;
                    overflow: hidden;}
                    #files li > ul{
                        margin: 0 0 0 25px;}
                .close{
                    max-height: 20px !important;}