
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-down-open-mini:before { content: '\e802'; } /* '' */
.icon-right-open-mini:before { content: '\e803'; } /* '' */
.icon-lock-open:before { content: '\e804'; } /* '' */
.icon-folder:before { content: '\e805'; } /* '' */
.icon-doc:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
